.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


a.activeNavLink {
  font-weight: bold;
  font-size: 18px;
  list-style-type: none;
  color: #ffffff;
}

a.navLink {
  font-size: 18px;
  list-style-type: none;
  color: #ffffff;
}

a, a:active, a:visited, a:hover {
  text-decoration: none;
}

.leftNavContainer {
  padding: 20px;
  position: absolute;
  width: 180px;
  background-color: #F15B2A;
  display: block;
  height: 100%;
}

.leftNavNested {
  padding: 20px;
  height: 100%;
  width: 200px;
  background-color: #000000;
}

.rightContentContainer {
  margin-left: 200px !important;
  width: 80% !important;
  display: contents !important;
}

li.nav {
  list-style-type: none;
  margin-left: -30px;
}

.header {
  background-color: #000000;
  text-align: center;
}

.header-logo {
  margin-top: -25px;
  margin-left: 30px;
  width: 75px;
  display: inline-block;
  text-align: left;
}

.header-text {
  padding-top: 20px;
  color: #ffffff;
  font-size: 40px;
  display: inline-block;
  margin: 0px 80px;

}

.headerEmail {
  color: white;
}

.unicorn {
  padding-left: 0px;
  margin-left: 12px;
  width: 80px;
  margin-top: 20px;
}
html{
  height: 100vh;
}
body {
  min-height: 100%;
}

.loginPage {
  background: url('./assets/po\ box.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh !important;
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-header {
  color: #646464;
}

.header-signout {
  margin-bottom: 15px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.loginFormInput {
  margin: 20px;
  color: #646464;
}

label.login-label {
  font-size: large;
}

  @-webkit-keyframes autofill {
    to {
        color: rgb(100, 100, 100);
        background: transparent;
    }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.formButtonContainer {
  display: flex;
  justify-content: center;
}


.chooseFormButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  margin: 10px;
  height: 250px;
  width: 250px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


/* loading animation */

.lds-default {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-default div {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #646464;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 29px;
  left: 53px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 18px;
  left: 50px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 9px;
  left: 41px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 6px;
  left: 29px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 9px;
  left: 18px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 18px;
  left: 9px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 29px;
  left: 6px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 41px;
  left: 9px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 50px;
  left: 18px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 53px;
  left: 29px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 50px;
  left: 41px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 41px;
  left: 50px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.emptyLoadingSpace {
  height: 64px;
  width: 25px;
}

.character-counter {
  display: none;
}

.form-title {
  text-align: center;
}

form {
  border: 1px solid black;
  padding: 5px;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
  margin-bottom: 20px;
}

.placeholder-size {
  font-size: 1.5rem !important;
}

.form-comment {
  font-size: 1.5rem;
  margin-left: 10px
}

h4 {
  text-decoration: underline;
}

.switch {
  margin-left: 10px;
}

/* saving animation */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #dfc;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.saving-anime {
  position: fixed;
  display: flex;
}

#myInput {
  text-align: center;
}

.clientContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

tr {
  border: 1px solid lightgray;
}

tr:hover {
  border: 2px solid grey;
}