@font-face {
  font-family: 'Omnes-light';
  src: url('./assets/Fonts/Omnes-Light.otf');
}

@font-face {
  font-family: 'Omnes-medium';
  src: url('./assets/Fonts/Omnes-Medium.otf');
}

@font-face {
  font-family: 'Omnes-regular';
  src: url('./assets/Fonts/Omnes-Regular.otf');
}

@font-face {
  font-family: 'Helvetica-Neue-Pro-Light';
  src: url('./assets/Fonts/HelveticaNeueLTPro-Lt.otf');
}
@font-face {
  font-family: 'Helvetica-Neue-Pro-Medium';
  src: url('./assets/Fonts/HelveticaNeueLTPro-Md.otf');
}
@font-face {
  font-family: 'Helvetica-Neue-Std-Light';
  src: url('./assets/Fonts/HelveticaNeueLTStd-Lt.otf');
}
@font-face {
  font-family: 'Helvetica-Neue-Std-Medium';
  src: url('./assets/Fonts/HelveticaNeueLTStd-Md.otf');
}



.App {
  text-align: center;
  font-family: 'Omnes-light';
}

.leftNavContainer {
  padding: 5px;
  position: fixed !important;
  width: 210px;
  background-color: #ffffff;
  z-index: 99;
  top: 107px;
}

.sidebar-content {
  counter-reset: step;
  padding: 0px;
}

.sidebar-content li {
  list-style-type: none;
  position: relative;
  height: 50px;
  margin: 30px 0px !important;
  font-family: 'Omnes-medium';
  border-radius: 4px;
  padding: 12px;
  color: #80868B;
}

.stepLink {
  color: #80868B;
  text-decoration: none !important;
}

.sidebar-content li:active {
  background-color: #DADCE0;
  color: #000000;
}

.sidebar-content li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  background:#ffffff;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
  border: 2px solid #d0d0d0;
  border-radius: 50%;
  font-family: 'Omnes-light';
  color: #d0d0d0;
}

.sidebar-content li:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #d0d0d0;
  left: 25.3px;
  top: -38px
}

.sidebar-content li:first-child:after {
  content: none;
}

.sidebar-content li.active, .sidebar-content li.active > a {
  color: #1B2F57;
  background-color: #eeeeee;
}

.sidebar-content li.active:before, .sidebar-content li.active:after {
  background-color: #233E76;
}

.sidebar-content li.lessThan > a {
  color: #1B2F57;
}

.sidebar-content li.lessThan:after, .sidebar-content li.lessThan:before {
  background-color: #233E76;
}

.header {
  font-family: 'Omnes-light';
  background-color: #233E76;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.checkaltGreen {
  color: #55B748;
}

.account-text {
  color: white;
}

.headerComp {
  display: flex;
  align-items: center;
  margin: 20px 100px;
}

.app-title {
  color: #f5f5ff;
  margin: 20px 0px 0px 10px;
  font-size: 16px;
}

.home {
  width: 40px;
}


.home-icon:hover {
  color: #ffffff;
}

.header-signout {
  margin-left: 20px;
  font-size: 16px;
  color: #f5f5f5;
  font-family: 'Helvetica-Neue-Pro-Light';
  padding-top: 10px;
  border-bottom: 1px solid #233E76;
}

.header-signout:hover {
  border-bottom: 1px solid #f5f5f5;
  text-decoration: none;
  color: #f5f5f5;
}

.hamburgerContainer {
  position: absolute;
  left: 75%;
  top: 0px;
  cursor: pointer;
  height: 80px;
  width: 80px;
}

.hamburger {
  position: absolute;
  width: 60px;
  height: 3px;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.hamburger:before, .hamburger:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 3px;
  background: white;
  transition: .5s;
  left: 0px;
}

.hamburger:before {
  top: -16px;
}

.hamburger:after {
  top: 16px;
}

.xActive .hamburger {
  background: rgba(0, 0, 0, 0);
}

.xActive .hamburger:before {
  top: 0; 
  transform: rotate(45deg);
}

.xActive .hamburger:after {
  top: 0;
  transform: rotate(135deg)
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  background: #233E76;
  border: 1px solid white;
  color: white;
  height: 100px;
  width: 190px;
  top: 68px;
  left: 45%;
}

@media(min-width: 701px) {
  .hamburgerContainer, .dropdown {
    display: none;
  }
}

.mobile-home, .mobile-logout {
  text-decoration: none;
  color: #ffffff;
  margin-left: 25px;
  text-align: left;
}

.mobile-home:visited, .mobile-logout:visited {
  color: white;
  text-decoration: none !important;
}

.mobile-home {
  border-bottom: 1px solid #D0D0D0;
  margin: 0 25px;
  padding-bottom: 13px;
  width: 138px;
}


.pleaseSelect {
  text-align: center;
}

.header-text {
  color: #ffffff;
  font-size: 40px;
}

.headerEmail {
  color: white;
}

@media(max-width: 850px) {
  .headerComp {
    margin: 20px 60px;
  }
}

html{
  height: 100vh;
}
body {
  min-height: 100%;
  font-family: 'Omnes-light';
}

.loginPage {
  background: url('./assets/login_background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh !important;
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.login-header {
  color: #646464;
}

.greeting {
  color: #233E76;
  font-size: 36px;
  font-family: 'Omnes-Light';
  display: flex;
  justify-content: center;
  margin: 70px 0 20px 0;
}


.center-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#email, #password {
  border-left: none;
  padding-top: 10px;
  box-shadow: none;
  font-family: 'Helvetica-Neue-Pro-Light';
}

#email:focus, #password:focus {
  border-left: 1px solid rgb(88, 174, 236);
}

.fa-user, .fa-lock {
  color: #161635;
}

.input-group-addon {
  background: white;
}

.login-button-container {
  text-align: center;
}

.login-button {
  width: 100px;
  color: #ffffff;
  border: none;
  background: #3F6AB3; 
  font-family: 'Helvetica-Neue-Pro-Light';
  text-shadow: none;
  padding-top: 10px;
}

.login-button:hover {
  background: #3f6ab3;
  color: white;
}

.checkalt_login_logo {
  margin: 80px 0px 30px 0px;
}

.copy-right {
  color: #777c77;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 650px;
  height: 550px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(37, 37, 37, 0.46);
  -moz-box-shadow: 0px 0px 4px 1px rgba(37, 37, 37, 0.46);
  box-shadow: 0px 0px 4px 1px rgba(37, 37, 37, 0.46);
}

@media(max-width: 700px) {
  .login-form {
    width: 75vw;
    height: 65vh
  }

  .center-form {
    display: block;
    margin: 0;
  }

  .greeting {
    font-size: 31px;
    margin: 0px;
  }

  .checkalt_login_logo {
    margin: 20px 0px 30px 0px;
  }

  .headerComp {
    flex-direction: column;
    margin: 10px 20px;
  }

  p.app-title {
    margin: 0px;
  }

  a.header-button {
    display: none;
  }

  .hambugerContainer {
    display: show;
    
  }

  .header-comp-right {
    margin-right: 0px;
  }
}


.loginFormInput {
  margin: 20px;
  color: #646464;
}

.loginFormInput:focus {
  border-bottom-color: #01579b;
}

.login-submit {
  margin: 0 auto
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#klik_logo {
  width: 60%;
  height: auto;
  margin-bottom: 3vh;
}

label.login-label {
  font-size: large;
}

  @-webkit-keyframes autofill {
    to {
        color: rgb(100, 100, 100);
        background: transparent;
    }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.formMenuGreeting {
  border-bottom: 2px solid #D0D0D0;
  margin: 20px 100px;
  font-family: 'Omnes-regular';
  color: #233E76;
  font-size: 32px;
}

.formButtonContainer {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 20px 80px;
  
}

@media(max-width: 1070px) {
  
  .formButtonContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media(max-width: 700px) {
  .formMenuColumn {
    width: 100% !important;
  }

  .formButtonContainer {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }

  .formMenuGreeting {
    margin: 20px 28px;
  }
}


.chooseFormButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 150px 10px 10px 10px;
  height: 450px;
  width: 450px;
  background: white;
  font-size: 100px;
}

div.thumbnail {
  border-radius: 0px;
  border: 2px solid #d0d0d0;
  box-shadow: none;
  text-decoration: none !important;
  background: #f5f5f5;
  min-height: 315.8px;
  margin: 15px;
}

div.thumbnail:hover {
  border-color: #3F6AB3; 
}

.formButtonLink {
  text-decoration: none !important;
}

thumbnail a>img, .thumbnail>img {
  border-radius: 4px;

}


.fb_title, .fb_description {
  text-decoration: none !important;
  font-size: 16px;
}

.fb_title {
  color: #3F6AB3;
  font-family: 'Helvetica-Neue-Std-Medium';
  margin-bottom: 2px;
}

.fb_description {
  color: #161635;
  font-family: 'Helvetica-Neue-Std-Light';
}

.startHereContainer {
  text-align: center;
}

.startHereButton {
  visibility: hidden;
  transition: visibility .1s ease-in-out;
}

.Station {
  margin-top: 20px;
}

.fa-caret-right {
  margin-left: 5px;
}

.thumbnail:hover > div.caption > .startHereContainer > .startHereButton{
  visibility: visible;
}

.displayNone {
  display: none;
}

.chooseFormButton.mystyle {
  display: none;
}

.chooseFormButton.changeFormMenu {
  width: 100vw;
  margin: 0px;
  height: 55px;
  font-size: 50px;
  box-shadow:0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 2px 6px 2px rgba(60, 64, 67, 0.15);
  position: fixed;
  top: 84px;
  z-index: 99;
  border-bottom: 1px solid lightgrey;
  border-radius: 0px;
}

/* loading animation */

.password-animation-container {
  display: flex;
  flex-direction: column;
}

.loadingAnimation {
  width: 64px;
  height: 64px;
  margin: auto;
  position: relative;
}

.emptyLoadingSpace {
  margin: auto;
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 30px;
}
.lds-ellipsis div {
  position: absolute;
  margin: 0 auto;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #01579b;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


.emptyLoadingSpace {
  height: 64px;
  width: 25px;
}

.character-counter {
  display: none;
}

.setup {
  margin-left: 221px;
  border-bottom: 2px solid #d0d0d0;
  margin-bottom: 10px;
  font-size: 32px;
  color: #233E76;
}

.form-title {
  text-align: center;
}


.behindForm {
  background-color:white;
  padding-top: 1px;
  padding-bottom: 50px;
  width: 100vw;
}

.form {
  padding: 5px 75px;
  background-color: #F5F5F5;
  margin-left: 220px;
  padding-bottom: 50px;
  border: 2px solid #d0d0d0;
  color: #233E76;
}

.placeholder-size {
  font-size: 1.5rem !important;
}

.form-comment {
  font-size: 1.5rem;
  margin-left: 10px
}

.eklik-page-title {
  font-size: 22px;
}

.switch {
  margin-left: 10px;
}

.eKlikSwitch {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c2c2c2;
  margin-right: 20px;
  padding-bottom: 5px;
}


/* saving animation */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #dfc;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.saving-anime {
  position: fixed;
  display: flex;
}

#myInput {
  text-align: center;
}

.clientContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clientInfo {
  border: 1px solid lightgray;
}

.clientInfo:hover {
  border: 2px solid grey;
}

.formFlow {
  margin-right: 10px;
}

.FFLink {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-family: 'Omnes-medium';
  font-size: 14px;
  letter-spacing: .6px;
  padding-bottom: 6px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 6px;
  pointer-events: initial;
  text-transform: none;
  position: fixed;
  z-index: 99;
}

.next, .back {
  top: 87%;
}

.next {
  left: 88%;
  color: white;
  background: #1B2F57;
}

.back {
  left: 19%;
  background: white;
  color: #1B2F57;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #3F6AB3 radial-gradient(circle, transparent 1%, #3F6AB3 1%) center/15000%;
}
.ripple:active {
  background-color: #3F6AB3;
  background-size: 100%;
  transition: background 0s;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

.formPages {
  background-color: rgb(246, 247, 249);
  width: 100vw;
}

.instructions-container {
  border: 5px solid #1B2F57;
  padding: 10px;
  border-radius: 10px;
}
.sample-account-mask-key {
  font-size: large;
  font-weight: bold;
}
.row-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Omnes-medium';
  border-bottom: 1px solid #1B2F57;
}

.mask-details {
  display: flex;
  justify-content: space-between;
}

.maskSwitch {
  align-self: center;
}

.maskInput {
  width: 400px !important;
  
}

.noLeftMargin {
  margin: 0px;
}
 
.switch-container {
   display: flex;
}

.margin-right {
  margin-right: 40px;
}

.th {
  margin: 0px 15px;
}

.th-right {
  width: 90px;
}

.th-left {
  display: flex;
  align-self: center;
}

.name {
  display: none;
}

/* --------------- login page mobile ---------------- */

/* @media only screen and (max-width: 600px) {
  .greeting {
    font-size: 5vh;
  }
} */

