@font-face {
  font-family: 'Omnes-light';
  src: url('./assets/Fonts/Omnes-Light.otf');
}

@font-face {
  font-family: 'Omnes-medium';
  src: url('./assets/Fonts/Omnes-Medium.otf');
}

@font-face {
  font-family: 'Omnes-regular';
  src: url('./assets/Fonts/Omnes-Regular.otf');
}

@font-face {
  font-family: 'Helvetica-Neue-Pro-Light';
  src: url('./assets/Fonts/HelveticaNeueLTPro-Lt.otf');
}
@font-face {
  font-family: 'Helvetica-Neue-Pro-Medium';
  src: url('./assets/Fonts/HelveticaNeueLTPro-Md.otf');
}
@font-face {
  font-family: 'Helvetica-Neue-Std-Light';
  src: url('./assets/Fonts/HelveticaNeueLTStd-Lt.otf');
}
@font-face {
  font-family: 'Helvetica-Neue-Std-Medium';
  src: url('./assets/Fonts/HelveticaNeueLTStd-Md.otf');
}



.App {
  text-align: center;
  font-family: 'Omnes-light';
}

.leftNavContainer {
  padding: 5px;
  position: fixed;
  width: 210px;
  background-color: #ffffff;
  z-index: 99;
  top: 143px;
}

.sidebar-content {
  counter-reset: step;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.sidebar-content div {
  list-style-type: none;
  position: relative;
  height: 50px;
  margin: 30px 0px !important;
  font-family: 'Omnes-medium';
  border-radius: 4px;
  padding: 12px;
  color: #80868B;
}

.stepLink {
  display: flex;
  color: #80868B;
  text-decoration: none !important;
}

.stepLinkTitle {
  margin-top: 6px;
  font-family: 'Helvetica-Neue-Pro-Medium';
}



.sidebar-content div:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  background:#ffffff;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
  border: 2px solid #d0d0d0;
  border-radius: 50%;
  font-family: 'Omnes-medium';
  color: #d0d0d0;
}

.sidebar-content div:after {
  content: '';
  position: absolute;
  height: 164%;
  width: 2px;
  background-color: #d0d0d0;
  left: 26.3px;
  top: -68px
}

.sidebar-content div:first-child:after {
  content: none;
}

.sidebar-content div.active {
  color: #1B2F57;
  background-color: #eeeeee;
}

.sidebar-content div.active:before, .sidebar-content div.active:after {
  background-color: #233E76;
}

.sidebar-content div.lessThan:before, .sidebar-content div.active:before {
  border: none;
}


.sidebar-content div.lessThan:after, .sidebar-content div.lessThan:before {
  background-color: #233E76;
}

.header {
  font-family: 'Omnes-light';
  background-color: #233E76;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0px 4%;
}

@media(max-width: 700px) {
  .header-container {
    padding: 0px;
  }
}

.checkaltGreen {
  color: #55B748;
}

.strong {
  font-family: 'Helvetica-Neue-Pro-Medium';
  font-size: 14px;
}

.fa-sort-down {
  margin: 0px 0px 10px 5px;
}

.account-text {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #f5f5f5;
  font-family: 'Helvetica-Neue-Pro-Light';
  margin-right: 20px;
  border-bottom: 1px solid #233E76;
}

.account-text:link, .account-text:active, .account-text:visited {
  color: #f5f5f5;
  text-decoration: none;
}

.account-text:hover {
  color: #f5f5f5;
  text-decoration: none;
  border-bottom: 1px solid #f5f5f5;
}

.headerComp {
  display: flex;
  align-items: flex-end;
  margin: 20px 0px;
}

.whiteLogo {
  width:245px;
  height: auto;
  cursor: pointer;
}

.fa-home {
  color: white;
  font-size: 32px;
}

.header-account-button .fa-user {
  color: white;
  margin-left: 15px;
  font-size:28px;
}

.app-title {
  color: #f5f5ff;
  margin: 20px 0px 0px 10px;
  font-size: 16px;
}

.home {
  width: 40px;
}


.home-icon:hover {
  color: #ffffff;
}

.header-signout {
  margin-left: 20px;
  font-size: 16px;
  color: #f5f5f5;
  font-family: 'Helvetica-Neue-Pro-Light';
  padding-top: 10px;
  border-bottom: 1px solid #233E76;
}

.header-signout:hover, .header-signout:active  {
  border-bottom: 1px solid #f5f5f5;
  text-decoration: none;
  color: #f5f5f5;
}

 .header-signout:visited {
   color: #f5f5f5;
 }

.hamburgerContainer {
  position: absolute;
  left: 75%;
  top: -12px;
  cursor: pointer;
  height: 80px;
  width: 80px;
}

.hamburger {
  position: absolute;
  width: 40px;
  height: 2px;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.hamburger:before, .hamburger:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  background: white;
  transition: .5s;
  left: 0px;
}

.hamburger:before {
  top: -12px;
}

.hamburger:after {
  top: 12px;
}

.xActive .hamburger {
  background: rgba(0, 0, 0, 0);
}

.xActive .hamburger:before {
  top: 0; 
  transform: rotate(45deg);
}

.xActive .hamburger:after {
  top: 0;
  transform: rotate(135deg)
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  background: #233E76;
  border: 1px solid white;
  color: white;
  height: 100px;
  width: 190px;
  top: 55px;
  left: 45%;
  z-index: 1;
}

@media(min-width: 701px) {
  .hamburgerContainer, .dropdown {
    display: none;
  }

  .mobile-product-title {
    display: none;
  }
}

.mobile-home, .mobile-logout {
  text-decoration: none;
  color: #ffffff;
  margin-left: 25px;
  text-align: left;
}

.mobile-home:visited, .mobile-home:active, .mobile-logout:visited, .mobile-logout:active, .mobile-account:visited, .mobile-account:active {
  color: white;
  text-decoration: none !important;
}

.mobile-home {
  border-bottom: 1px solid #D0D0D0;
  margin: 0 25px;
  padding-bottom: 13px;
  width: 138px;
}

.mobile-account {
  color: white;
  border-bottom: 1px solid #D0D0D0;
  margin: 0 25px;
  padding-bottom: 13px;
}


.pleaseSelect {
  text-align: center;
}

.header-text {
  color: #ffffff;
  font-size: 40px;
}

.headerEmail {
  color: white;
}

html{
  height: 100vh;
}
body {
  font-family: 'Omnes-light';
}

.accountPage {
  margin-top: 100px;
  text-align: center;
}

.accountForm {
  margin-top: 180px !important;
  padding-top: 50px !important;
  margin-bottom: 30px !important;
}

.account-title, .accountForm {
  margin-left: 0px !important;
}

.loginPage {
  background: url('./assets/login_background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh !important;
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.login-header {
  color: #646464;
}

.greeting {
  color: #233E76;
  font-size: 36px;
  font-family: 'Omnes-Light';
  display: flex;
  justify-content: center;
  margin: 70px 0 20px 0;
}


.center-form {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
}

.login-addon {
  background: #eeeeee !important;
}

#email, #password {
  padding-top: 10px;
  box-shadow: inset 0px 0px 0px 0px;
  -webkit-box-shadow: inset 0px 0px 0px 0px;
  font-family: 'Helvetica-Neue-Pro-Light';
  font-size: 16px;
}


#email:focus, #password:focus {
  border-left: 1px solid rgb(88, 174, 236);
}

.fa-user, .fa-lock {
  color: #161635;
}

.input-group {
  margin-bottom: 10px;
}

.input-group-addon {
  background: white;
}

.login-button-container {
  text-align: center;
}

.login-button {
  width: 100px;
  color: #ffffff;
  border: none;
  background: #3F6AB3; 
  font-family: 'Helvetica-Neue-Pro-Light';
  text-shadow: none;
  padding-top: 10px;
}

.login-button:hover, .login-button:focus {
  background: #3f6ab3 !important;
  color: white !important;
}


.logo-copyright-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkalt_login_logo {
  margin: 80px 0px 30px 0px;
  max-width: 36%;
}

.copy-right {
  color: #777c77;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 650px;
  height: 550px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(37, 37, 37, 0.46);
  -moz-box-shadow: 0px 0px 4px 1px rgba(37, 37, 37, 0.46);
  box-shadow: 0px 0px 4px 1px rgba(37, 37, 37, 0.46);
}

.loginFormInput {
  margin: 20px;
  color: #646464;
}

.loginFormInput:focus {
  border-bottom-color: #01579b;
}

.login-submit {
  margin: 0 auto
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#klik_logo {
  width: 60%;
  height: auto;
  margin-bottom: 3vh;
}

label.login-label {
  font-size: large;
}

  @keyframes autofill {
    to {
        color: rgb(100, 100, 100);
        background: transparent;
    }
}

input.form-control {
  background-color: #ffffff;
}

input:-webkit-autofill {
  animation-name: autofill;
  -webkit-animation-name: autofill;
  animation-fill-mode: both; 
  -webkit-animation-fill-mode: both;
}

.formMenuGreeting {
  border-bottom: 1px solid #D0D0D0;
  margin: 95px 100px 20px 100px;
  font-family: 'Omnes-regular';
  color: #233E76;
  font-size: 32px;
}

.lockbox-products {
  display: flex;
  margin: 0px 100px;
  justify-content: flex-end;
  color: #233E76;
  margin-bottom: 10px;
}

.fa-question-circle {
  margin-left: 5px;
}

.fa-question-circle:hover {
  cursor: pointer;
}

.lockbox-product {
  display: flex;
  justify-content: center;
  width: 18%;
}

.lockbox-container {
  margin: 0px 100px;
  color: #233E76;
}

.lockboxDetailsContainer {
  width: 37%;
  display: flex;
  flex-direction: column;
}

.formStatus {
  margin: 10px 0px;
  font-size: 14px;
  color: #777c77;
  font-family: 'Helvetica-Neue-Pro-Medium';
}

.lockbox-details {
  display: flex;
  border: 1px solid #d0d0d0;
  margin-bottom: 20px;
  padding: 15px 7px;
  background-color: #F5F5F5;
}

.lbProducts_div-container {
  display: flex;
  width: 100%;
}

.lbProductButton-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 25%;
}

.lbProductButton {
  margin: 10px 0px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  font-size: 14px;
  color: #233E76;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: 'Omnes-medium';
  width: 110px;
  height: 30px;
}

.lbProductButton:hover {
  border-color: #233E76;
  cursor: pointer;
}

.continue_0 > p, .continue_0 > div, .continue_1 > p, .continue_1 > div, .continue_2 > p, .continue_2 > div, .continue_3 > p, .continue_3 > div {
  display: none;
}
 
.formButtonContainer {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 20px 80px;
}

.lockboxName, .lockboxNumber, .lockboxStatus {
  display: inline;
}

.lockboxName {
  color: #3F6AB3;
  font-size: 18px;
  font-family: 'Omnes-regular';
}

.lockboxName:hover {
  cursor: pointer;
}

.fa-pen {
  margin-left: 10px;
}

.lockboxNumber {
  margin: 5px 0px;
}

@media(max-width: 1070px) {
  
  .formButtonContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .formMenuGreeting {
    margin: 95px 28px 20px 28px;
  }

  .lockbox-container, .lockbox-products {
    margin: 0px 28px;
  }

}

@media(max-width: 700px) {
  .formMenuColumn {
    width: 100% !important;
  }

  .formButtonContainer {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
}

@media(max-width: 350px) {
  .formMenuGreeting {
    font-size: 27px;
  }
}


.chooseFormButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 150px 10px 10px 10px;
  height: 450px;
  width: 450px;
  background: white;
  font-size: 100px;
}

div.thumbnail {
  border-radius: 0px;
  border: 1px solid #d0d0d0;
  box-shadow: none;
  text-decoration: none !important;
  background: #f5f5f5;
  min-height: 315.8px;
  max-height: 355.8px;
  margin: 15px;
}

div.thumbnail:hover {
  border-color: #3F6AB3; 
}

.formButtonLink {
  text-decoration: none !important;
}

thumbnail a>img, .thumbnail>img {
  border-radius: 4px;

}


.fb_title, .fb_description {
  text-decoration: none !important;
  font-size: 16px;
}

.fb_title {
  color: #3F6AB3;
  font-family: 'Helvetica-Neue-Std-Medium';
  margin-bottom: 2px;
}

.fb_description {
  color: #161635;
  font-family: 'Helvetica-Neue-Std-Light';
}

.startHereContainer {
  text-align: center;
}

.startHereButton {
  visibility: hidden;
  transition: visibility .1s ease-in-out;
}

.startHereButton:hover {
  background: #233E76;
}

.Station {
  margin-top: 20px;
}

.fa-caret-right {
  margin-left: 5px;
}

.thumbnail:hover > div.caption > .startHereContainer > .startHereButton{
  visibility: visible;
}

.displayNone {
  display: none;
}

.chooseFormButton.mystyle {
  display: none;
}

.chooseFormButton.changeFormMenu {
  width: 100vw;
  margin: 0px;
  height: 55px;
  font-size: 50px;
  box-shadow:0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 2px 6px 2px rgba(60, 64, 67, 0.15);
  position: fixed;
  top: 84px;
  z-index: 99;
  border-bottom: 1px solid lightgrey;
  border-radius: 0px;
}

/* loading animation */

.password-animation-container {
  display: flex;
  flex-direction: column;
}

.loadingAnimation {
  width: 64px;
  height: 30px;
  margin: auto;
  position: relative;
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 11px;
}
.lds-ellipsis div {
  position: absolute;
  margin: 0 auto;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #01579b;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


.emptyLoadingSpace {
  height: 30px;
  width: 25px;
  margin: 0 auto;
}

@media(max-width: 350px) {
  .emptyLoadingSpace {
    height: 35px;
  }
}

.character-counter {
  display: none;
}

.setup {
  background: white;
  margin-left: 220.3px;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 10px;
  font-size: 32px;
  color: #233E76;
  position: fixed;
  z-index: 98;
  height: 70px;
  padding-top: 24px;
}

.form-title {
  text-align: center;
}


.behindForm {
  background-color:white;
  padding-top: 1px;
  padding-bottom: 50px;
}

.switch-wrapper > div {
  width: 100% !important;
}

.form {
  padding: 5px 40px;
  background-color: #F5F5F5;
  margin: 177px 0px 0px 220px;
  padding-bottom: 50px;
  border: 1px solid #d0d0d0;
  color: #233E76;
  font-family: 'Helvetica-Neue-Pro-Light';
}

.placeholder-size {
  font-size: 1.5rem !important;
}

.form-group {
  margin-bottom: 0px;
}

.help-block { 
  display: none; 
}
.form-group.has-error .help-block { 
  display: block; 
}

.form-control {
  margin-bottom: 10px;
}

.form-comment {
  font-family: 'Helvetica-Neue-Pro-Medium';
  font-size: 1.5rem;
  margin: 35px 0px 10px 0px
}

.eklik-page-title {
  font-size: 22px;
  font-family: 'Omnes-regular';
}

.switch {
  margin-left: 10px;
}

.eKlikSwitch {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c2c2c2;
  margin-right: 20px;
  padding-bottom: 5px;
}

.disabled-link {
  pointer-events: none;
}


/* saving animation */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #dfc;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.saving-anime {
  position: fixed;
  display: flex;
}

#myInput {
  text-align: center;
  margin-top: 100px
}

.clientContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clientInfo {
  border: 1px solid lightgray;
}

.clientInfo:hover {
  border: 2px solid black !important;
}

.formFlow {
  margin-right: 10px;
}

.FFLink {
  border-radius: 4px;
  font-family: 'Omnes-medium';
  font-size: 14px;
  letter-spacing: .6px;
  padding-bottom: 6px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 6px;
  pointer-events: initial;
  text-transform: none;
  float: right;
  text-decoration: none;
}

.next {
  cursor: pointer;
  color: white;
  background: #3F6AB3;
  margin-right: 15px;
  text-decoration: none !important;
}

.next:hover {
  background: #233E76;
  color: white;
  text-decoration: none;
}

.no-drop {
  cursor: no-drop;
}

.back {
  border: 1px solid #d0d0d0;
  background: white;
  color: #1B2F57;
  text-decoration: none !important;
}

.back:hover {
  border-color: #777c77;
}

.fa-caret-left, .fa-caret-left {
  margin-right: 5px;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

.formPages {
  background-color: rgb(246, 247, 249);
  width: 100vw;
}

.instructions-container {
  border-top: 2px solid #d0d0d0;
  border-bottom: 2px solid #d0d0d0;
  padding: 10px;
  margin: 10px 0px 30px 0px;
}

.instruction {
  font-family: 'Helvetica-Neue-Pro-Medium';
  font-size: 16px;
  margin-top: 20px;
}

.eklik3-comment {
  font-size: 16px;
  margin-top: 20px;
}

.sample-account-mask-key {
  font-size: large;
  font-weight: bold;
}
.row-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Omnes-medium';
  border-bottom: 1px solid #1B2F57;
}

.mask-details {
  display: flex;
  justify-content: space-between;
}

.maskSwitch {
  align-self: center;
}

.maskInput {
  width: 400px !important;
  
}

.noLeftMargin {
  margin: 0px;
}
 
.switch-container {
   display: flex;
}

.margin-right {
  margin-right: 40px;
}

.th {
  margin: 0px 15px;
}

.th-right {
  width: 90px;
}

.th-left {
  display: flex;
  align-self: center;
}

.name {
  display: none;
}

.fa-times {
  color: #d90000;
  float: right;
  margin-top: -32px;
  margin-right: 13px;
  cursor: pointer;
}

#addNameButton {
  font-family: 'Omnes-medium';
  font-size: 14px;
  color: #233E76;
  background: #ffffff;
  border: 1px solid #d0d0d0;
}

.fa-plus {
  color: #233E76;
  margin-right: 5px;
}

/* --------------- form page ipad ---------------- */

@media(max-width: 770px) {
  .lbProductButton {
    width: 80px;
  }
}

@media(max-width: 700px) {
  .login-form {
    width: 75vw;
    height: 65vh;
    min-height: 334px;
  }

  .center-form {
    display: block;
    width: 220px;
    margin: auto;
  }

  .greeting {
    font-size: 31px;
    margin: 25px 0px;
  }

  .checkalt_login_logo {
    margin: 15px 0px 10px 0px;
    max-width: 42%;
  }

  .headerComp {
    flex-direction: column;
    margin: 10px 0px;
  }

  .header-comp-left {
    margin-left: 0px;
    align-items: flex-start;
    margin-left: 30px;
  }

  p.app-title {
    margin: 0px;
  }

  .header-account-button {
    display: none;
  }

  a.header-button {
    display: none;
  }

  .hamburgerContainer {
    display: show; 
  }

  .header-comp-right {
    margin-right: 0px;
    align-items: flex-end !important;
  }

  .account-text {
    display: none;
  }

  .lockbox-container, .lockbox-products {
    margin: 0px 25px !important;
  }

  .formMenuGreeting {
    margin: 80px 25px 20px 25px !important;
    padding-bottom: 7px;
  }

  .lockbox-products {
    display: none;
  }

  .lockbox-details {
    flex-direction: column;
  }

  .lockboxDetailsContainer {
    width: 100%;
  }

  .lbProducts_div-container {
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
  }

  .lbProductButton-Container {
    width: 50%;
  }

  .mobile-product-title {
    display: show;
  }

  .lbProductButton {
    width: 110px;
  }
}

@media(max-width: 450px) {
  .checkalt_login_logo {
    max-width: 70%;
  }
  
  .center-form {
    margin: 0 auto;
    min-height: 244px !important;
  }
}


@media(max-width: 350px) {
  .login-form {
    width: 75vw;
  }
  
  .center-form {
    display: block;
    width: 220px;
  }

  .greeting {
    margin: 10px 0px 10px 0px;
  }

  .checkalt_login_logo {
    margin: 0px 0px 10px 0px;
  }
}

@media(max-width: 1199px) {
  .whiteLogo {
    width: 200px;
  }
  
  .setup {
    margin-left: 0px;
  }

  .leftNavContainer {
    position: static;
    width: 100%;
    height: 200px;
    margin-top: 170px;
  }
  
  .form {
    margin-left: 0px;
    margin-top: 0px;
  }
  .sidebar-content {
    flex-direction: row;
  }
  
  .sidebar-content div {
    float: left;
    width: 33.33%;
    height: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    z-index: 1;
  }

  .sidebar-content div:before {
    display: block;
    margin: 0 auto 10px auto;
    width: 50px;
    height: 50px;
    line-height: 45px;
    font-size: 20px;
    z-index: 2;
  }

  .sidebar-content div:after {
    width: 100%;
    height: 2px;
    top: 39px;
    left: -42%;
    z-index: -1;
  }

  .stepLink {
    display: block;
  }

  .stepLinkTitle {
    margin: 0;
  }
}


@media(max-width: 991px) {
  .sidebar-content div:after {
    left: -39.5%;
  }

  .longerFormInputLabels {
    font-size: 12px;
  }
}

@media(max-width: 767px) {
  .sidebar-content div:after {
    left: -38%;
  }

  .longerFormInputLabels {
    font-size: 14px;
  }

  div.thumbnail {
    max-height: none;
  }
}

@media(max-width: 600px) {
  .whiteLogo {
    max-width: 55%;
  }

  .sidebar-content div:after {
    left: -36%;
  }

  .stepLinkTitle {
    font-size: 14px;
    text-align: center;
  }
}

@media(max-width: 550px) {
  .sidebar-content div:after {
    left: -33.7%;
  }
}

@media(max-width: 450px) {
.leftNavContainer {
  margin-top: 150px;
}

  .sidebar-content div:after {
    left: -30.3%;
  }

  .form {
    padding: 5px 15px;
    overflow: auto;
  }
}


@media(max-width: 400px) {
  .sidebar-content div:after {
    left: -27%;
  }
}

@media(max-width: 350px) {
  .sidebar-content div:after {
    left: -23%;
  }
}

