<% include ../partials/boilerplate %>

<form method='POST' action='/forms'>
  <input name='input1' type='text' placeholder='input1' />
  <input type='submit' value='Go!' />
</form>

<% include ../partials/end %>